---
layout: home
---
<div class="container-fluid well text-center">
	<div class="row">
		<div class="center-block">
			<h2>
				<%= image_tag 'logo-big.png' %>
				Café Vie Privée
				<%= image_tag 'logo-big.png' %>
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<h4>
				Parce que la NSA n'est pas le seul ennemi…<br/>
				Mais vos parents ou votre petit·e ami·e aussi =)
			</h4>
		</div>
		<div class="col-md-5">
			<h4>
				Parce qu'on a tous quelque chose à cacher…<br/>
				Ne serait-ce que notre vie privée !
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 alert alert-success">
			<i>Prochains Cafés Vie Privée</i> :
			<ul>
				<li>
					samedi <b>29 mars</b> 2014, <b>15h-18h</b>, à
					<b><a href="http://events.numaparis.com/Evenements/Chiffro-fete-3.0">
						Numa
					</a></b>
				</li>
				<li>
					samedi <b>12 avril</b> 2014, <b>14h-18h</b>, au
					<b><a href="/20140412-mokibar.html">
						Moki Bar
					</a></b>
				</li>
				<li>
					samedi <b>20 avril</b> 2014, <b>11h-18h</b>, à l'
					<b><a href="http://openbidouille.net/post/80174131389/obc-4-le-20-avril-inscrivez-vos-ateliers">
						Open Bidouille Camp #4
					</a></b>
				</li>
				<li>
					jeudi <b>24 avril</b> 2014, <b>11h-18h</b>, au
					<b><a href="http://2014.hackitoergosum.org/">
						Hacker Space Fest
					</a></b>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid full-height">
	<div class="row">
		<div class="col-md-4 well">
			<h3>Le non-concept</h3>
			<p>
				Venez passer un après-midi à causer et pratiquer la cryptographie !
			</p>
			<p>
				Des ateliers d'au minimum 1h sont proposés, axés autour de la sécurité informatique et de la
				protection de la vie privée.<br/>
				Les ateliers sont accessibles à tout type de public, geek et non-geek, chatons, poneys, loutres ou licornes.
			</p>
			<p>
				Amenez du glou et du miam si vous le voulez, on chiffre mieux le ventre plein !
				Et n'hésitez pas à vous joindre aux non-nous autour d'un verre le soir :)
			</p>
		</div>
		<div class="col-md-4 well">
			<h3>Le non-contenu</h3>
			<ul>
				<li>Chiffrement des emails (GPG)</li>
				<li>Chiffrement des données (TrueCrypt, LUKS)</li>
				<li>Messagerie instantanée (OTR, SIP, ZRTP)</li>
				<li>Communications mobiles (TextSecure, RedPhone)</li>
				<li>Sécurité wifi</li>
				<li>Anonymat sur Internet (Tails, Tor, deep web)</li>
				<li>Protection de la vie privée (NoScript, RequestPolicy)</li>
				<li>SSL/TLS, CACert</li>
				<li>Boire du vrai thé</li>
				<li>… et tant d'autres choses …</li>
			</ul>
			<p>
				Il n'y a pas de planning prévu à l'avance, les ateliers sont organisés en fonction des animateurs
				présents… et de la demande des participants.<br/>
				Si vous avez des envies ou des idées, aussi bien pour animer que pour participer, n'hésitez pas à
				nous contacter !
			</p>
		</div>
		<div class="col-md-4 well">
			<h3>Les non-infos</h3>
			<p>
				Les chiffrofêtes se déroulent généralement le samedi de 15h à 18h, à
				<a href="http://events.numaparis.com/">
					<%= image_tag 'numa.png' %>
				</a>
				(#oupa)
			</p>
			<p>
				Vous pouvez venir avec votre machine (portable ou mobile) pour assister aux atelier et si possible
				avec une clef USB pour repartir avec plein de datalove ♥ dessus.
			</p>
			<div>
				Pour vous tenir informer :
				<table>
					<tr>
						<td>
							<%= image_tag 'twitter.png' %>
							<a href="https://twitter.com/chiffrofete">@chiffrofete</a>
						</td>
						<td>
							<%= image_tag 'email.png' %>
							<a href="mailto:chiffrofetes@okhin.fr">chiffrofetes@okhin.fr</a><br/>
							(GPG:
							<a href="http://hkps.pool.sks-keyservers.net/pks/lookup?search=0xD0934505630B1D0A&op=vindex">
								D0934505 630B1D0A
							</a>)
						</td>
					</tr>
					<tr>
						<td>
							<%= image_tag 'ical.png' %>
							<a href="https://calendar.okhin.fr/public.php/chiffrofetes/calendar/">Calendrier</a>
						</td>
						<td>
							<%= image_tag 'logo.png' %>
							<a href="https://www.cryptoparty.in/paris">https://www.cryptoparty.in/paris</a>
						</td>
					</tr>
				</table>
			</div>
			<br/>
			<table>
				<tr>
					<td>
						<%= image_tag 'photo.png' %>
					</td>
					<td>
						Avant de prendre des photos, merci de demander la permission à tous les pixels avant !
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
